@import './fonts/fonts.css';
@import './colors.less';

body {
  margin: 0;
}

.fadein {
  opacity:0;
  transition: opacity 1s ease-out;

  &.visible {
    opacity: 1;
  }
}

.logo {
  font-family: 'Montserrat', sans-serif;
}

.main {
  font-family: sans-serif;
  background-color: @color-primary;
  height: 100vh;
  color: #fff;
}

.btn {
  border: 2px solid white;
  border-radius: 4px;
  padding: 1em;
  background-color: rgba(0,0,0,0);
  color: white;

  span:nth-child(2){
    margin-left: 1em;
  }

  &.link-btn {
    display: inline-block;
    text-decoration: none;
  }
}
