@import './colors.less';

@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@screen-med:    ~"only screen and (min-width: 769px) and (max-width: 959px)";
@screen-sm:    ~"only screen and (min-width: 0px) and (max-width: 769px)";


@height-header: 4em;
@width-sidebar: 100px;
@width-small-sidebar: 80%;
@sidebar-ts-duration: 0.4s;
@sidebar-ts-timing-function: cubic-bezier(0, 0, 0, 1);//ease-out;*/
@color-background-content: #EEE;
@height-search-bar: 3em;
