@import '../../node_modules/font-awesome/less/font-awesome.less';

body {
  margin: 0;
}

.casa-app {
  font-family: sans-serif;
}

.content-inner {
  background-color: #eee;
  border-top-left-radius: 1em;
  height: 100%;
  width: 100%;
  color: black;
}

.entity-list {

  .entity-options {
    text-align: right;
    margin-top: 1em;
  }

  .entity {
    margin-bottom: 1em;
  }
}
