extends ../../layout.jade

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.big-app
        div.icon(ng-if="!app.original.icon", style="{{'background-color:' + app.color + ';'}}")
          span {{app.original.title.substring(0, 1)}}
        img.icon(ng-if="app.original.icon" ng-src="{{app.original.icon}}")
        span.title {{app.original.title}}
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.app-info
        div {{app.original.description}}
        div.authors
          div.author(ng-repeat="author in app.original.authors")
            div {{author.name}}
            a(ng-href="mailto:{{author.email}}") {{author.email}}
            a(ng-href="{{author.website}}") {{author.website}}
        div.tags
          code.tag(ng-repeat="tag in app.original.tags") {{tag}}

