.big-app{
    &.large{
        @media (max-width: 991px) {
            display:none;
        }
        .title{
            margin-left: 0.5em;
        }
    }
    &.small{
        @media (min-width: 991px) {
            display:none;
        }
    }
    text-align:center;
    margin-bottom: 2em;
    .icon{
        display:inline-block;
        color:white;
        height:6em;
        width:6em;
        text-align:center;
        vertical-align:middle;

        span{
            font-size:4em;
        }
    }
    .title-container{
        text-align: left;
        /* at 991px & smaller, I want this text-align: center */
        @media (max-width: 991px) {
            text-align: center;
        }
    }
    .title{
        font-size:3.5em;
        vertical-align:middle;
    }
}
.app-info{
    text-align:center;
    font-size:1.5em;

    > *{
        margin-bottom: 0.75em;
    }

    .author{
        font-size:0.75em;
        *{
            display:block;
        }
    }

    .tags{
        font-size:0.65em;
        
        .tag{
            display:inline-block;
            border: 1px solid #ccc;
            margin: 0.25em;
        }
    }
}
