extends ../../layout.jade

block content
  .container
    .row.big-app.large
      .col-lg-8.col-md-8.col-lg-offset-2.col-md-offset-2
        div.icon(ng-if="!app.attributes.use.icon", style="{{'background-color:' + app.color + ';'}}")
          span {{app.attributes.use.title.substring(0, 1)}}
        img.icon(ng-if="app.attributes.use.icon" ng-src="{{app.attributes.use.icon}}")
        span.title {{app.attributes.use.title}}
    .row.big-app.small
      .col-lg-2.col-lg-offset-2.col-md-2.col-md-offset-2
        div.icon(ng-if="!app.attributes.use.icon", style="{{'background-color:' + app.color + ';'}}")
          span {{app.attributes.use.title.substring(0, 1)}}
        img.icon(ng-if="app.attributes.use.icon" ng-src="{{app.attributes.use.icon}}")
      .col-lg-8.col-md-8.title-container
        span.title {{app.attributes.use.title}}
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.app-info
        div {{app.attributes.use.description}}
        div.authors
          div.author(ng-repeat="author in app.attributes.use.authors")
            div {{author.name}}
            a(ng-href="mailto:{{author.email}}") {{author.email}}
            a(ng-href="{{author.website}}") {{author.website}}
        div.tags
          code.tag(ng-repeat="tag in app.attributes.use.tags") {{tag}}

