div(ng-include='"components/navbar/navbar.html"')

block content

footer.footer
  .container
    p
      | casa-nodejs v1.0.0
      = ' | '
      a(href='https://twitter.com/paulgrizzay') @paulgrizzay
      = ' | '
      a(href='https://github.com/pfgray/casa-nodejs/issues?state=open') Issues
