@import '../styles/flat.less';

.welcome-page {
  text-align: center;
  padding-top: 5em;

  h1 {
    font-size: 7em;
    text-shadow: 0 1px 0 #ccc;
  }
  div.subtitle {
    font-size: 2em;
    margin-bottom: 1em;
  }
  a {
    font-size: 1.25em;
    margin-bottom: 3em;
  }
}

.welcome-page * {
  transition: opacity @duration-route-transition linear;
}

.route-main-enter {
  &.welcome-page {
    opacity: 0;
  }
}
.route-main-enter.route-main-enter-active {
  &.welcome-page {
    opacity: 1;
    transition: opacity @duration-route-transition ease-out @duration-route-transition;
  }
}

.route-main-leave {
  //h1 div a
  //animation-delay
  &.welcome-page {
    opacity: 1;
  }
}
.route-main-leave.route-main-leave-active {
  &.welcome-page {
    background: rgba(0,0,0,0);
    opacity: 0;
    transition: opacity @duration-route-transition linear;
    h1 {
      transform: translate(-50px, 0);
      transition: opacity 300ms ease-out 100ms, transform 500ms ease-out 200ms;
    }
    div {
      transform: translate(-100px, 0);
      transition: opacity 400ms ease-out 100ms, transform 500ms ease-out 100ms;
    }
    a {
      transform: translate(-200px, 0);
      transition: all @duration-route-transition ease-out;
    }
  }
}
