extends ../layout.jade

block content
  .container
    .row
      .col-lg-12
        ul.peer-list
          li.peer-list-item.peer(ng-repeat="peer in peers")
              div.name {{peer.name}}
              div.info
                  div.payload-location {{peer.payload_url}}
                  div.payload-last-updated Last updated: {{peer.last_updated | fromNow}}
              div.options
                  button.btn.btn-info(ng-click="updatePeer(peer)")
                      span(ng-if="!peer.updating") Update Now
                      span(ng-if="peer.updating")
                          i.fa.fa-circle-o-notch.fa-spin
