@import '../styles/colors.less';

.header {
  padding: 0.5em 1em;
  background-color: @color-header;
  color: #fff;

  * {
    display: inline-block;
    vertical-align: middle;
  }

  .pathname {
    margin-left: 1em;
    font-weight: bold;
    color: @color-primary;
  }

  .logo {
    font-size: 2em;
  }

  .header-right {
    float: right;

    a {
      color: #fff;
      padding: 0.75em; //todo: this is inexact...
    }
  }
}
