div.navbar.navbar-default.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      span.navbar-brand casa

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a(ng-if='item.link' ng-href='{{item.link}}') {{item.title}}
          a(ng-if='item.onClick' href='#' ng-click='item.onClick()') {{item.title}}
      div.profile(ng-if='user')
        span {{user.name}}
        img(ng-src='{{user.picture}}')
