extends ../layout.jade

block content
  header#banner.hero-unit
    .container
      h1 CASA
      p.lead Create a community of applications!

  .container
    .row
      .col-lg-12
        h1.page-header Features:
        ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
          li
            a(href='#', tooltip='{{thing.info}}')
              | {{thing.name}}
