@import '../styles/colors.less';
@import '../styles/layout.less';
@import '../../node_modules/font-awesome/less/font-awesome.less';

.login-container {
  height: ~"calc(100vh - "@height-header~")";
  width: 100%;
  background-color: fade(black, 30%);
  background-image: linear-gradient(45deg, rgba(0, 216, 255, .5), rgba(0, 255, 127,.5));

  .login-box {
    color: white;
    text-align: center;
    padding-top: ~"calc(50vh - ((73px * 1)/2) - 65px)";

    * {
      font-size: 1.25em;
    }
    div:last-child {
      margin-top: 0.5em;
    }
  }
}



.route-main-enter {
  &.login-container {
    /*background-color: red !important;
    background-image: none !important;*/
    opacity: 0;
  }
  &.login-container * {
    opacity: 0;
  }
}
.route-main-enter.route-main-enter-active {
  &.login-container {
    opacity: 1;
  }
  &.login-container * {
    opacity: 1;
    transition: opacity 500ms ease-out 1000ms;
  }
}
/*
.route-main-leave {
  //h1 div a
  //animation-delay
  &.login-container {
    opacity: 1;
    transition: opacity 500ms ease-out;
/*
    a {
      transform: translate(-100%, 0);
      transition: transform 500ms ease-out;
    }

  }
}
.route-main-leave.route-main-leave-active {
  &.login-container {
    opacity: 0;
  }
}
*/
