extends ../layout.jade

block content
  .container
    .row(ng-if="!loadingApps && !noApps")
      .col-md-2.col-lg-2.col-lg-offset-9.col-md-offset-9.group-button-row
        .dropdown
          button.btn.btn-default.dropdown-toggle(ng-repeat="option in groupOptions", ng-if="option.selected")
            span.drodown-button-label {{option.label}}
            span.caret
          ul.dropdown-menu
            li(ng-repeat="option in groupOptions", ng-if="!option.selected")
              a(ui-sref="{{option.uisref}}") {{option.label}}
    .row(ng-if="loadingApps")
      .col-md-6.col-md-6.col-lg-offset-3.col-md-offset-3.main-load-icon
          i.fa.fa-circle-o-notch.fa-spin
    .row(ng-if="!loadingApps")
      //App grid
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1(ng-if="!noApps && group !== 'peer'")
        .row
          .col-lg-4.col-md-4(ng-repeat="i in range(columnCount) track by $index")
            .app-box(ng-repeat="app in apps", ui-sref="singleApp({originatorId:app.identity.originator_id, appId:app.identity.id})", role="link", ng-if="(($index - $parent.$index) % columnCount) === 0")
              .app-header(style="{{!app.original.use.icon ? 'background-color:' + app.color : 'background-color: #e7e7e7'}}")
                span(ng-if="!app.original.use.icon") {{app.original.use.title.substring(0, 1)}}
                img.icon(ng-if="app.original.use.icon" ng-src="{{app.original.use.icon}}")
              .app-body
                .app-title {{app.original.use.title}}
                .app-subtitle {{app.original.use.description}}

      // Apps grouped by peer
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1(ng-if="!noApps && group === 'peer'")
        ul.list-group.list-with-header(ng-repeat="peer in peers")
          li.list-group-item.disabled {{peer.name}}
          li.list-group-item.app(ng-repeat="app in peer.apps", ui-sref="singleApp({originatorId:app.identity.originator_id, appId:app.identity.id})", role="link")
            div.icon(ng-if="!app.original.use.icon", style="{{'background-color:' + app.color + ';'}}")
              span {{app.original.use.title.substring(0, 1)}}
            img.icon(ng-if="app.original.use.icon" ng-src="{{app.original.use.icon}}")
            span {{app.original.use.title}}

      // No Apps jumbotron
      .col-md-6.col-md-6.col-lg-offset-3.col-md-offset-3(ng-if="noApps")
        div.jumbotron.empty-apps
          i.fa.fa-cubes
          h3 There aren't any apps here.
          div Apps can be gathered by adding 
            a(href="/peers") peers.
          div
            button.btn.btn-default(ui-sref="peers({new:true})") Add Peer
