.group-button-row {
    text-align:right;
    margin-bottom:1em;
}
ul.dropdown-menu{
    right: 0;
    text-align:left;
}

.app{
    cursor:pointer;
    &:hover{
        background-color:#e7e7e7;
    }

    .icon{
        height:2.25em;
        width:2.25em;
        vertical-align:middle;
        display:inline-block;
        margin-right:1em;
        color:#FFF;
        text-align:center;

        span {
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}

.empty-apps{
    text-align:center;
    i{
        font-size: 10em;
    }
    div{
        margin-bottom:1em;
        &:last-child{
            margin:0;
        }
    }
}
.main-load-icon{
    font-size: 10em;
    text-align:center;
}
