.group-button-row {
    text-align:right;
    margin-bottom:1em;
}
.drodown-button-label{
    margin-right:0.5em;
}
ul.dropdown-menu{
    right: 0;
    text-align:left;
}

.app-box{
    @border-radius: 0.5em;
    @border-color: #e7e7e7;

    margin-bottom:1em;
    cursor:pointer;
    border-radius:@border-radius;
    text-align:center;
    border: 1px solid #e7e7e7;
    box-shadow: 2px 2px 2px #e7e7e7;

    .app-header{
        border-top-left-radius:@border-radius;
        border-top-right-radius:@border-radius;
        border-bottom: 1px solid @border-color;

        .icon{
            margin: 0.5em 0;
        }

        span {
            margin: 0.25em 0;
            display:inline-block;
            font-size: 1.5em;
            font-weight: 500;
            color:#FFF;
        }
    }

    .app-title{
        font-size:1.25em;
        font-weight:700;
        border-bottom: 1px solid @border-color;
        padding:0.25em
    }
    .app-subtitle{
        padding:1em;
    }

    .icon{
        height:2em;
        width:auto;
        vertical-align:middle;
        display:inline-block;
        text-align:center;
    }
}
.app{
    cursor:pointer;
    &:hover{
        background-color:#e7e7e7;
    }

    .icon{
        height:2.25em;
        width:2.25em;
        vertical-align:middle;
        display:inline-block;
        margin-right:1em;
        color:#FFF;
        text-align:center;

        span {
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}

.empty-apps{
    text-align:center;
    i{
        font-size: 10em;
    }
    div{
        margin-bottom:1em;
        &:last-child{
            margin:0;
        }
    }
}
.main-load-icon{
    font-size: 10em;
    text-align:center;
}
